fastapi==0.118.0
uvicorn[standard]==0.38.0
sqlalchemy==2.0.44
asyncpg==0.31.0
alembic==1.17.1
pydantic==2.12.4
pydantic-settings==2.11.0
email-validator==2.3.0
pyjwt==2.11.0
bcrypt==5.0.0
python-dotenv==1.1.1
